.profile {
    max-width: 880px;
    margin: 0 auto 51px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

@media screen and (max-width: 425px) {
    .profile {
       max-width: 282px;
       flex-direction: column;
    }
}