.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/Add\ Button.png);
    padding: 0;
    cursor: pointer;
    align-self: center;
}

.profile__add-button:hover {
    opacity: .6;
  }

  @media screen and (max-width: 767px) {
    .profile__add-button {
      width: 95%;
      margin: 0 auto;   
    }
}
